h1{
    color: rgb(193, 88, 207);
}

img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgb(80, 146, 190);
    padding: 50px;
    border: 5px rgb(151, 70, 101);
}

#spanid{
    font-size: 18px;
    margin: 50px;
}